<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('XEKE')" data-ng-class="{active: currency.symbol == 'XEKE'}">XEKE</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mXEKE')" data-ng-class="{active: currency.symbol == 'mXEKE'}">mXEKE</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uXEKE')" data-ng-class="{active: currency.symbol == 'uXEKE'}">uXEKE</a>
  </li>
</ul>

