<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('VKAX')" data-ng-class="{active: currency.symbol == 'VKAX'}">VKAX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mVKAX')" data-ng-class="{active: currency.symbol == 'mVKAX'}">mVKAX</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uVKAX')" data-ng-class="{active: currency.symbol == 'uVKAX'}">uVKAX</a>
  </li>
</ul>

